body {
  background-image: url('../IMG/TuVanbackground.png');
  background-size: cover;       /* Ảnh phủ kín màn hình */
  background-repeat: no-repeat; /* Không lặp ảnh */
  background-attachment: fixed; /* Ảnh cố định khi cuộn */
}
